<tour step="page.currentStep" post-tour="page.postTourCallback()" post-step="page.postStepCallback()" tour-complete="page.tourCompleteCallback()">
    <virtual-step
            tourtip="Welcome to Selocial! Let's take a tour before you get started!"
            tourtip-placement="center"
            tourtip-step="0"
            tourtip-margin="2"
            tourtip-offset-vertical="200"
            tourtip-element="#band-tour-1"></virtual-step>
    <virtual-step
            tourtip="At the moment you do not have any releases. You will find all of your releases here."
            tourtip-placement="bottom"
            tourtip-step="1"
            tourtip-margin="2"
            tourtip-offset-vertical="30"
            tourtip-element="#user-tour-2"></virtual-step>
    <virtual-step
            tourtip='Here within "Most Active" you will find the hightest activity within Selocial. Discover some new friends, follow, and upvote!'
            tourtip-placement="bottom"
            tourtip-step="2"
            tourtip-margin="2"
            tourtip-element="#user-tour-3"></virtual-step>
    <virtual-step
            tourtip='If you select "following" you will see the mixes of those you start to follow.'
            tourtip-placement="bottom"
            tourtip-step="3"
            tourtip-offset-vertical="-25"
            tourtip-element="#user-tour-4"></virtual-step>
    <virtual-step
            tourtip='Find monthly featured music and events here. It could be you!'
            tourtip-placement="bottom"
            tourtip-step="4"
            tourtip-margin="2"
            tourtip-element="#user-tour-5"></virtual-step>
    <virtual-step
            tourtip='Search! When you open the search bar you can search for friends, mixes, and hashtags within Selocial.'
            tourtip-placement="left"
            tourtip-step="5"
            tourtip-margin="2"
            tourtip-offset-vertical="-10"
            tourtip-element="#user-tour-6"></virtual-step>
    <virtual-step
            tourtip='If you get an upvote, comment, follow, or alerts you will be notified here!'
            tourtip-placement="bottom"
            tourtip-step="6"
            tourtip-offset-vertical="-30"
            tourtip-offset-horizontal="-15"
            tourtip-element="#user-tour-7"></virtual-step>
    <virtual-step
            tourtip='Here you will find "Settings" where you can change your profile picture, name, cover photo, set channel privacy, and check your timebank.'
            tourtip-placement="left"
            tourtip-step="7"
            tourtip-margin="2"
            tourtip-offset-vertical="-30"
            tourtip-offset-horizontal="-15"
            tourtip-element="#user-tour-8"></virtual-step>
    <virtual-step
            tourtip="This is where you can go to find and edit the music you upload to your library."
            tourtip-step="8"
            tourtip-placement="bottom"
            tourtip-margin="2"
            tourtip-element="#band-tour-9"></virtual-step>
    <virtual-step
            tourtip="Upload your music here. We accept .mp3 .wav, and mp4 audio."
            tourtip-step="9"
            tourtip-placement="left"
            tourtip-margin="2"
            tourtip-element="#band-tour-10"></virtual-step>
    <virtual-step
            tourtip="After you upload your music it's time to 'Create' your first release! Here you can also upload a video!"
            tourtip-step="10"
            tourtip-placement="bottom"
            tourtip-margin="2"
            tourtip-next-label="End Tour"
            tourtip-element="#band-tour-11"></virtual-step>

</tour>