<tour step="page.currentStep" post-tour="page.postTourCallback()" post-step="page.postStepCallback()" tour-complete="page.tourCompleteCallback()">
    <virtual-step
            tourtip="Welcome to your release creator! This is where you can create a more visual release than anywhere else on the web within seconds.  Let's look around! "
            tourtip-placement="center"
            tourtip-step="0"
            tourtip-margin="2"
            tourtip-element="#selomix-tour-1"></virtual-step>
    <virtual-step
            tourtip="Step 1  Add a photo, animated gif, or video. Add photos and gifs and we will place them in a collage for you! If you decide you don't want to add photos or gifs, you can just add a video with sound or add your from your uploaded music. We accept .jpg, .png, .mp4 video (up to 350MB)."
            tourtip-placement="bottom"
            tourtip-step="1"
            tourtip-margin="2"
            tourtip-offset-vertical="10"
            tourtip-element="#selomix-tour-2"></virtual-step>
    <virtual-step
            tourtip='Step 2 Add your music! If you uploaded your music, you can add up to 30 minutes of your music per release (unlimited releases). Increase your time by getting upvotes, comments, and other activity or soon through an upgraded subscription.'
            tourtip-placement="bottom"
            tourtip-step="2"
            tourtip-margin="2"
            tourtip-offset-vertical="-300"
            tourtip-offset-horizontal="200"
            tourtip-element="#selomix-tour-3"></virtual-step>
    <virtual-step
            tourtip='Step 3 Add some words! Title and describe your release. Add hashtags, usernames, and any information that will help people find your release.'
            tourtip-placement="bottom"
            tourtip-step="3"
            tourtip-offset-vertical="-25"
            tourtip-element="#selomix-tour-4"></virtual-step>
    <virtual-step
            tourtip='Not ready to release it yet? Make your release private or keep it public. If you select private, you can still share your link with anyone you give the link to and they can view and listen to your mix. It will not show up in any searches or within the "Most Active" stream.'
            tourtip-placement="bottom"
            tourtip-step="4"
            tourtip-margin="2"
            tourtip-offset-vertical="30"
            tourtip-element="#selomix-tour-5"></virtual-step>
    <virtual-step
            tourtip='If you decided you want to come back later, you can "close" or "x" out of your release and we autosave it for next time you open it.'
            tourtip-placement="left"
            tourtip-step="5"
            tourtip-margin="2"
            tourtip-offset-vertical="-10"
            tourtip-element="#selomix-tour-6"></virtual-step>
    <virtual-step
            tourtip='Your done! Publish your release. We will use our magic and combine everything you have done here within seconds. Share this anywhere on the web, within an email, text or embed it within your website.'
            tourtip-placement="left"
            tourtip-step="6"
            tourtip-offset-vertical="-20"
            tourtip-offset-horizontal="10"
            tourtip-next-label="End Tour"
            tourtip-element="#selomix-tour-7"></virtual-step>

</tour>