<tour step="page.currentStep" post-tour="page.postTourCallback()" post-step="page.postStepCallback()" tour-complete="page.tourCompleteCallback()">
    <virtual-step
            tourtip="This is your 'Selomix Creator'! The Selomix is also known as a slideshow, story, digital mixtape, mix, dedication, or moment with music.  Let's look around!"
            tourtip-placement="center"
            tourtip-step="0"
            tourtip-margin="2"
            tourtip-element="#selomix-tour-1"></virtual-step>
    <virtual-step
            tourtip="Add a photo, animated gif, or video. Add photos and gifs and we will place them in a collage for you! If you decide you don't want to add photos or gifs, you can just add a video. We accept .jpg, .png, .mp4 video (up to 350MB)."
            tourtip-placement="bottom"
            tourtip-step="1"
            tourtip-margin="2"
            tourtip-offset-vertical="10"
            tourtip-element="#selomix-tour-2"></virtual-step>
    <virtual-step
            tourtip='Find some music! Here you can use your photo as a foundation to look for music! Find music through the SoundCloud and Selocial libraries. Add up to 15 minutes of music. Increase your time by getting upvotes, comments, and other activity.'
            tourtip-placement="bottom"
            tourtip-step="2"
            tourtip-margin="2"
            tourtip-offset-vertical="-300"
            tourtip-offset-horizontal="200"
            tourtip-element="#selomix-tour-3"></virtual-step>
    <virtual-step
            tourtip='Add some words! Title and describe your mix. Add hashtags, usernames, and any information that will help people find your mix.'
            tourtip-placement="bottom"
            tourtip-step="3"
            tourtip-offset-vertical="-25"
            tourtip-element="#selomix-tour-4"></virtual-step>
    <virtual-step
            tourtip='Make your mix private or keep it public. If you select private, you can still share your link with anyone you give the link to and they can view and listen to your mix.'
            tourtip-placement="bottom"
            tourtip-step="4"
            tourtip-margin="2"
            tourtip-offset-vertical="30"
            tourtip-element="#selomix-tour-5"></virtual-step>
    <virtual-step
            tourtip='If you decided you want to come back later, you can "close" or "x" out of your mix and we autosave it for next time you open it.'
            tourtip-placement="left"
            tourtip-step="5"
            tourtip-margin="2"
            tourtip-offset-vertical="-10"
            tourtip-element="#selomix-tour-6"></virtual-step>
    <virtual-step
            tourtip='Your done! Publish your mix. We will use our magic and combine everything you have done within seconds and you can share this anywhere on the web, witin an email, or text.'
            tourtip-placement="left"
            tourtip-step="6"
            tourtip-offset-vertical="-20"
            tourtip-offset-horizontal="10"
            tourtip-next-label="End Tour"
            tourtip-element="#selomix-tour-7"></virtual-step>

</tour>