<tour step="page.currentStep" post-tour="page.postTourCallback()" post-step="page.postStepCallback()" tour-complete="page.tourCompleteCallback()">
    <virtual-step
            tourtip="Once you upload your music you will be able to view and edit it here."
            tourtip-placement="center"
            tourtip-step="0"
            tourtip-margin="2"
            tourtip-offset-vertical="150"
            tourtip-element="#my-music-tour-1"></virtual-step>
    <virtual-step
            tourtip="Let's upload something!"
            tourtip-placement="bottom"
            tourtip-step="1"
            tourtip-margin="2"
            tourtip-offset-vertical="10"
            tourtip-element="#my-music-tour-2"></virtual-step>
    <virtual-step
            tourtip='Here is where you edit your track information. We use this information to keep track of your music within Selocial, suggest to users for discovery, or filtre accounting for you so when you receive a payment you know exactly what goes to who based on percentages you inputed.'
            tourtip-placement="center"
            tourtip-step="2"
            tourtip-margin="2"
            tourtip-offset-vertical="-300"
            tourtip-offset-horizontal="200"
            tourtip-element="#my-music-tour-3"></virtual-step>
    <virtual-step
            tourtip='Add emotions, hashtags, and contributors.'
            tourtip-placement="bottom"
            tourtip-step="3"
            tourtip-offset-vertical="-25"
            tourtip-element="#my-music-tour-4"></virtual-step>
    <virtual-step
            tourtip='Once you have added all the information you need then select "save". This will save to your Library within "My Music".'
            tourtip-placement="left"
            tourtip-step="4"
            tourtip-margin="2"
            tourtip-offset-horizontal="-20"
            tourtip-offset-vertical="-20"
            tourtip-element="#my-music-tour-5"></virtual-step>
    <virtual-step
            tourtip="That's it! Now that you have uploaded your music your ready to 'Create' your release!"
            tourtip-placement="top"
            tourtip-step="5"
            tourtip-margin="2"
            tourtip-offset-vertical="-10"
            tourtip-next-label="End Tour"
            tourtip-element="#my-music-tour-6"></virtual-step>
</tour>
