<tour step="page.currentStep" post-tour="page.postTourCallback()" post-step="page.postStepCallback()" tour-complete="page.tourCompleteCallback()">
    <virtual-step
            tourtip="Welcome to Selocial! Let's take a tour before you get started!"
            tourtip-placement="center"
            tourtip-step="0"
            tourtip-margin="2"
            tourtip-element="#tour-1"></virtual-step>
    <virtual-step
            tourtip="At the moment you do not have any mixes. You will find all of your mixes here"
            tourtip-placement="bottom"
            tourtip-step="1"
            tourtip-margin="2"
            tourtip-offset-vertical="30"
            tourtip-element="#user-tour-2"></virtual-step>
    <virtual-step
            tourtip='Here within "Most Active" you will find the hightest activity within Selocial'
            tourtip-placement="bottom"
            tourtip-step="2"
            tourtip-margin="2"
            tourtip-element="#user-tour-3"></virtual-step>
    <virtual-step
            tourtip='If you select "following" you will see the mixes of those you start to follow.'
            tourtip-placement="bottom"
            tourtip-step="3"
            tourtip-offset-vertical="-25"
            tourtip-element="#user-tour-4"></virtual-step>
    <virtual-step
            tourtip='Find monthly featured music and events here'
            tourtip-placement="bottom"
            tourtip-step="4"
            tourtip-margin="2"
            tourtip-element="#user-tour-5"></virtual-step>
    <virtual-step
            tourtip='Search! When you open the search bar you can search for friends, mixes, and hashtags.'
            tourtip-placement="left"
            tourtip-step="5"
            tourtip-margin="2"
            tourtip-offset-vertical="-10"
            tourtip-element="#user-tour-6"></virtual-step>
    <virtual-step
            tourtip='If you get an upvote, comment, follow, or alerts you will be notified here!'
            tourtip-placement="bottom"
            tourtip-step="6"
            tourtip-offset-vertical="-30"
            tourtip-offset-horizontal="-15"
            tourtip-element="#user-tour-7"></virtual-step>
    <virtual-step
            tourtip='Here you will find "Settings" where you can change your profile picture, name, cover photo, set channel privacy, and check your timebank.'
            tourtip-placement="left"
            tourtip-step="7"
            tourtip-margin="2"
            tourtip-offset-vertical="-30"
            tourtip-offset-horizontal="-15"
            tourtip-element="#user-tour-8"></virtual-step>
    <virtual-step
            tourtip="Now it's time to Create your first slideshow, mix, playlist or upload a video"
            tourtip-step="8"
            tourtip-placement="bottom"
            tourtip-margin="2"
            tourtip-next-label="End Tour"
            tourtip-element="#user-tour-9"></virtual-step>

</tour>