<div class="modal-header">
    <a href="javascript:" ng-click="$close()" class="btn btn-link btn-close">
        <i class="fa fa-close"></i>
    </a>
    Forgot Password
</div>
<div class="modal-body">
    <p class="text-center">Please enter your email to have your password reset link emailed to you.</p>
    <forgot-password-form on-sent="$close()"></forgot-password-form>
</div>
<div class="modal-footer">
    <a href="javascript:" ng-click="showSignup()" class="btn btn-no-padding btn-link btn-block">
        I don't have an account yet
    </a>
</div>