<div class="page welcome-page artists" wow>
    <div class="welcome-intro" vertical-fill-panel="0" height-property="height" style="background: none !important; background-image: none !important">
        <h1 class="wow bounceInUp">Release Your Music in a More Visual Way</h1>
        <p class="wow bounceInUp" data-wow-delay="0.5s">Give your fans a revolutionary experience</p>
        <div class="text-center">
            <a class="wow bounceInUp btn btn-primary" style="margin: 0" data-wow-delay="1s" href="javascript:" ng-click="dialog.show('signup', {band: true})">Sign Up</a>
           </div>
        </div>
         

    <div class="welcome-text">
        
        
        <div class="row">
            <div class="col-sm-4">
                <h3>Get Discovered</h3>
                <ul>
                    <li>Let Your Fan's Moments Promote Your Music</li>
                    <li>Tell Your Fans They Can Add Your Music to Their Photos</li>
                    <li>Promote Your Album</li>
                </ul>
            </div>
            
            <div class="col-sm-4">
                <h3>Get Paid</h3>
                <ul>
                    <li>Groundbreaking Payment System <i>(Coming Soon)</i></li>
                    <li>Get Commissions</li>
                    <li>Get Tips for Your Awesome Music</li>
                </ul>
            </div>
            
            <div class="col-sm-4">
                <h3>Full Control</h3>
                <ul>
                    <li>Have Full Control of Your Releases</li>
                    <li>Add Your Music to Gif's, Videos, or Photos Instantly</li>
                    <li>Tell a Story of Your Show Through Your Visuals.</li>
                </ul>
            </div>
        </div>
                
    </div>

   
    <div class="welcome-intro" style="background: none !important; background-image: none !important">
        <a href="javascript:" ng-click="dialog.show('signup', {band: true})" class="btn btn-primary wow tada">Sign Up Today</a>
    </div>
</div>
