<form ng-submit="changePassword()" name="changePasswordForm">
    
    <div class="form-group">
        <input type="password" class="form-control" name="oldPassword" ng-model="changePasswordUser.oldPassword" placeholder="Old Password" required autofocus />
    </div>
    
    <div class="form-group">
        <input type="password" class="form-control" name="newPassword" ng-model="changePasswordUser.newPassword" placeholder="New Password" required />
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
    </div>
</form>