<div class="page welcome-page" wow>
    <div class="welcome-intro" vertical-fill-panel="0" height-property="height">
        <h1 class="wow bounceInUp"><span typer="Share Your Music ,Create Your Story ,Upload Your Video ,Build Your Playlist ,Create a Mixtape ">Photos, Music, & Videos</span></h1>
        <p class="wow bounceInUp" data-wow-delay="0.5s">Create Your Mixes, Sell Your Music (Soon) 
 <br/> <big>Connecting music & video to every part of your life</big></p>
        <div class="text-center">
            <a class="wow bounceInUp btn btn-primary" data-wow-delay="1s" href="javascript:" ng-click="dialog.show('signup')">Sign Up Today</a>
            <a class="wow bounceInUp btn btn-danger" data-wow-delay="1.5s" ui-sref="homeArtist">I'm an Artist</a>
        </div>
    </div>

    <div class="welcome-text">
        <h2>Create Your Moment <i class="fa fa-equalizer"></i> <!--<img src="//dwzrkd09yh5h8.cloudfront.net/images/makeamix2.png">
--></h2>

        <div class="row">
            <div class="col-sm-3 wow bounceIn">
                <h3> <i class="fa fa-camera"></i> 
                    <i class="fa fa-video-camera" style="padding-right: 10px"></i>Media</h3>
               
            <!--    <figure><img src="//dwzrkd09yh5h8.cloudfront.net/images/cameraicon.png"></figure>
            -->    <p>Start by uploading or importing visuals such as Photos, GIFS, and Video to create a Story, Slideshow, Mix, Playlist, Promotion, and more. Looking to only add finished video? You can add 350 MB of video for each visual card.  </p>
            </div>

            <div class="col-sm-3 wow bounceIn" data-wow-delay="0.2s"> 
                <h3><i class="fa fa-music" style="padding-right: 10px"></i>Music</h3>
             <!--   <figure><img src="//dwzrkd09yh5h8.cloudfront.net/images/cloudmusicicon.png"></figure>
            -->    <p>Search for music to add to your photo(s), GIFS, or Video from Selocial Music and SoundCloud audio. Add up to 15 minutes of music for each visual card publised. Social activity such as upvotes, comments, and follows increase your time bank to create longer mixes.    </p>
            
            </div>

            <div class="col-sm-3 wow bounceIn" data-wow-delay="0.4s"> 
                <h3><i class="fa fa-edit" style="padding-right: 10px"></i>Words</h3>
              <!--  <figure><img src="//dwzrkd09yh5h8.cloudfront.net/images/wordsicon.png"></figure>
             -->   <p>Enhance your Story, Slideshow, Mix, Playlist, Promotion, or other creation with a Title and Description. Include hashtags, username, to help your creation become discoverable, upvoted, and more interesting for listeners and viewers. </p>
            </div>

            <div class="col-sm-3 wow bounceIn" data-wow-delay="0.6s"> 
                <h3>                <i class="fa fa-globe" style="padding-right: 10px"></i>
Publish</h3>
               <!-- <figure><img src="//dwzrkd09yh5h8.cloudfront.net/images/publish.png"></figure>
            -->    <p>Watch us do our magic! Once your creation is published you can Embed and Share outside of Selocial via the share link. The Power of Selocial is within the editing. The real flexibility and power comes when you can EDIT your creation, swap your Music, Photos, GIFS, or Text anywhere, anytime, instantly.  </p>
            </div>
        </div>
    </div>

 <!--   <div class="welcome-intro" style="overflow: hidden"></div>-->
        
       <!-- <h1>Share Your Moments with Music </h1> -->
    <div class="embeded-channel" style="overflow: hidden">
         <iframe src="/embed-channel/most-active" frameborder="no" scrolling="no" width="90%" height="550" margin-top="-60">Create Moments like These</iframe>
        <!--<video class="wow bounceIn" controls
               src="//dwzrkd09yh5h8.cloudfront.net/videos/selocial720p.mp4" 
               poster="//dwzrkd09yh5h8.cloudfront.net/videos/selocial720p.png"></video>

-->        <p class="hidden">Live Your Life Through Mixtape Moments</p>
    </div>

    <div class="welcome-text">
        <h2>More Reasons to Use Selocial</h2>
        <br>

        <div class="row">
            <div class="col-sm-3 wow fadeIn">
                <ul>
                    <li>Add Music to Visuals</li>
                    <li>Flexible Edit Feature</li>
                    <li>Continuous Listening</li>
                    <li>Personal Music Service</li>
                </ul>
            </div>

            <div class="col-sm-3 wow fadeIn" data-wow-delay="0.2s"> 
                <ul>
                    <li>Event Promotions</li>
                    <li>Photos with Music</li>
                    <li>Selfies with Music</li>
                    <li>One Stream for Everything</li>
                </ul>
            </div>

            <div class="col-sm-3 wow fadeIn" data-wow-delay="0.4s"> 
                <ul>
                    <li>Share on Other Networks</li>
                    <li>Add Music to Videos</li>
                    <li>Discover New Music</li>
                    <li>Support Selocial Artists with Tips</li>
                </ul>
            </div>
            <div class="col-sm-3 wow fadeIn" data-wow-delay="0.4s"> 
                <ul>
                    <li>Gifs with Music</li>
                    <li>Perfect for Photos with Music</li>
                    <li>Make New Friends</li>
                    <li>A Playlist of Playlists</li>
                
                </ul>
            </div>
    

        <!--    <div class="col-sm-3 text-right"> 
              <iframe src="https://selocial.com/embed-mix/WWGohsaAsxjmeh3sZ" frameborder="no" scroll="no" width="280" height="500"></iframe>
              
                <img src="//dwzrkd09yh5h8.cloudfront.net/images/selocialmystream.gif">

            </div>
     -->   </div>
    </div>

    <div class="welcome-intro">
        <a href="javascript:" ng-click="dialog.show('signup')" class="btn btn-primary wow tada">Sign Up Today</a>
    </div>
</div>
