<div class="page">

    <h1>Export play log</h1>

    <form class="form" ng-submit="exportLog()">
        <div class="row">
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="From (YYYY-MM-DD)" ng-model="from">
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Till (YYYY-MM-DD)" ng-model="till">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-primary">
                    Export
                </button>
            </div>
        </div>
    </form>


</div>
